<h5>Daily Task</h5>
<div class="routine_list">
  <table class="table">
    <% routine_tasks.each do |routine_task| %>
      <tr>
        <td>
          <span>
            <%= routine_task.routine_task_name %>
          </span>
          <% if routine_task.user == current_user %>
          <span>
            <%= link_to routine_path(routine_task), method: :delete do %>
              <i class="far fa-trash-alt mx-3" style="color: gray;"></i>
          	<% end %>
        	</span>
        	<% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>