<% if alert_message.present? %>
  <div class="alert alert-warning %> alert-dismissible fade show">
    <span><%= alert_message %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
