<div class="container">
  <div class="row">
    <div class="col">
      <div class="side-bar">
        <!--サイドバー作成予定-->
      </div>
      <div> 
        <div class="task-matrix"></div>
        <div class="task-matrix"></div>
        <div class="task-matrix"></div>
        <div class="task-matrix"></div>
      </div>
    </div>
  </div>
</div>