<div class="container notification-page">
  <div class="row">
    <div class="col">
      <!--モーダル-->
      <div id="task-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <!---->
      <h2>通知</h2>
          <%= link_to notifications_destroy_all_path, method: :delete do %>
              <i class="fas fa-trash"></i>
              <h7>全削除</h7>
          <% end %>
          <hr>
      <% if @notifications.exists? %>
          <div class="notification-index">
            <%= render @notifications %>
          </div>
      <% else %>
          <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>