<div class="destroy-confirm container">
  <div class="row">
    <div class="col">
      <p><span class="confirm-text"><%= @group.group_name %>を本当に削除しますか？</span></p>
      <p class="mb-5">グループを削除するとグループメンバーのタスクにアクセスすることができなくなります。</p>
      <div class="my-3"><%= link_to "グループを削除する", group_path, method: :delete %></div>
      <div class="my-3"><%= link_to "グループ一覧へ戻る", groups_path %></div>
    </div>
  </div>
</div>