<div class="container">
  <div class="row">
    <div class="col">
      <p><%= @group.group_name %>を本当に削除しますか？</p>
      <p>一度グループを削除するとメンバーのタスクにアクセスすることができなくなります。</p>
      <%= link_to "グループを完全に削除する", group_path, method: :delete %>
      <%= link_to "削除せずグループ一覧へ戻る", groups_path %>
    </div>
  </div>
</div>