  <% byebug %>
<div class="container">
  <div class="row">
    <div class="offset-1 col-10">
      <div class="group-index">
        <% unless @my_groups.present? %>
          <p>現在登録されているグループはありません</p>
        <% else %>
          <h4>Myグループ</h4>
          <%= render "index", my_groups: @my_groups %>
        <% end %>
      </div>
      <div class="group-new">
        <h5 class>新規グループ作成</h5>

        <%= render 'layouts/error_messages', resource: @group %>
        <%= render "new", group: @group %>
      </div>
    </div>
  </div>
</div>