<% group_users.each do |group_user| %>
<%= link_to tasks_path(user_id: group_user.user.id), class: "text-reset text-decoration-none" do %>
<div class="card my-1">
  <div class="container card-body">
    <div class="row">
      <div class="col-5">
      <%= attachment_image_tag group_user.user, :profile_image, :fill, 60, 60, fallback: "user_missing.png", class: "rounded-circle m-3"%>

      <br><span class="task-count">タスク数 : <%= group_user.user.tasks.count %></span>
      </div>
      <div class="col-7 user-introduction">
        <%= group_user.user.introduction %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
