<div class='contact container px-5'>
  <div class="row mx-auto">
    <div >
      <h3 class="my-5">ご協力大変ありがとうございました！！！</h3>
      <p>
        いただきましたご意見・ご感想は今後の作品改善や学習に取り入れて参りたいと思います。<br>
        貴重なご意見ありがとうございました。
      </p>
      <div>
        <%= link_to root_path do %>
          TOPページへ戻る
        <% end %>
      </div>
    </div>
  </div>
</div>