
<div>
  <div class="top-box1 background-img"></div>
  <div class="green-1" id="about"></div>
  <div class="top-box2 background-img"></div>
  <div class="green"></div>
  <div class="top-box3 background-img"></div>
  <div class="green"></div>
  <div class="top-box4 background-img"></div>
  <div class="green"></div>
  <div class="your-manager-available"></div>
  <div class="top-box5 background-img"></div>
  <div class="green"></div>
  <div class="top-box6 background-img"></div>
  <div class="white-back">
    <div class="slideContsL slideConts">
      <div class="blank"></div>
      <div class="slidein"></div>
      <div class="slidein-button">
        <%= link_to new_user_registration_path do %>
        <div class="circle">
          <p>会員登録</p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="illust"></div>
  </div>


  <span id="back-btn">
    <a href="#">
      <i class="fas fa-chevron-circle-up fa-3x"></i>
    </a>
  </span>
  <div class="gest-signin">
    <%= link_to users_guest_sign_in_path, method: :post do %>
      GUEST ログイン<br>
      <span>(ポートフォリオ閲覧用)</span>
    <% end %>
  </div>
  <!--<div class="contact-about-pf">-->
  <!--  <%#= link_to contacts_new_path do %>-->
  <!--      PFに関する<br>-->
  <!--      ご意見・アドバイスはこちら-->
  <!--  <%# end %>-->
  <!--</div>-->

</div>

<%= render "slidein" %>

