<div>
  <div class="top-box0 background-img">
  </div>
  
  <!--<div class="top-box1 ">-->
  <!--  <div class="container">-->
  <!--    <div class="row">-->
  <!--      <div class="col">-->
  <!--        <%#= image_tag "your_manager_pic.png", class: "logo" %>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

  <div class="top-box2">
    <div class="box2-logo">
      <%= image_tag "about_your_manager.png", class: "logo" %>
    </div>
    <div class="box2-child-left">
      <div class="box2-text">
        <p>Your managerはあなたが抱える仕事を重要度と緊急度に応じた「4つのマトリクス」<br>
        に分類しタスクの優先順位をより簡単につけられるようサポートします。</p>
      </div>
      <div class="box2-sample-pic"></div>
    </div>
    <div class="box2-illust">
      <%= image_tag "completed_tasks.png", class: "illust" %>
    </div>
  </div>
</div>

<div class="top-box3 background-img">
</div>





