<div class="top-box1 ">
  <div class="container">
    <div class="row">
      <div class="col">
        <!--<div class="box1-logo"></div>-->
      
        <%= image_tag "your_manager_pic.png", class: "logo" %>

      </div>
    </div>
  </div>
</div>
<div class="top-box2 ">
  <div class="title-logo">
    <%= image_tag "about_your_manager.png", class: "logo" %>
  </div>
    </div>
  </div>
</div>






