
<div>
  <div class="top-box1 background-img"></div>
  <div class="green-1" id="about"></div>
  <div class="top-box2 background-img"></div>
  <div class="green"></div>
  <div class="top-box3 background-img"></div>
  <div class="green"></div>
  <div class="top-box4 background-img"></div>
  <div class="green"></div>
  <div class="your-manager-available"></div>
  <div class="top-box5 background-img"></div>
  <div class="green"></div>
  <div class="top-box6 background-img"></div>
  <div class="white-back">
    <div class="slideContsL slideConts">
      <div class="blank"></div>
      <div class="slidein"></div>
      <div class="slidein-button">
        <%= link_to new_user_registration_path do %>
        <div class="circle">
          <p>会員登録</p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="illust"></div>
  </div>


  <span id="back-btn">
    <a href="#">
      <i class="fas fa-chevron-circle-up fa-3x"></i>
    </a>
  </span>

</div>




<script>
  // TOPページのスライドイン

  var slideConts = document.querySelectorAll(".slideContsL"); // スライドで表示させる要素の取得
  var slideContsRect = []; // 要素の位置を入れるための配列
  var slideContsTop = []; // 要素の位置を入れるための配列
  var windowY = window.pageYOffset; // ウィンドウのスクロール位置を取得
  var windowH = window.innerHeight; // ウィンドウの高さを取得
  var remainder = 100; // ちょっとはみ出させる部分
  console.log(slideConts);

  // 要素の位置を取得
  for (var i = 0; i < slideConts.length; i++) {
    slideContsRect.push(slideConts[i].getBoundingClientRect());
  }
  for (var i = 0; i < slideContsRect.length; i++) {
    slideContsTop.push(slideContsRect[i].top + windowY);
  }

  // スクロールされたら
  window.addEventListener('scroll', function () {

    // スクロール位置を取得
    windowY = window.pageYOffset;
    // console.log(windowY);

    for (var i = 0; i < slideConts.length; i++) {
      // 要素が画面の下端にかかったら
      console.log(slideContsTop[i]);
      if(windowY > slideContsTop[i] - windowH + remainder) {
        // .showを付与
        slideConts[i].classList.add('show');

      } else {
        // 逆に.showを削除
        slideConts[i].classList.remove('show');
      }
    }
  });
</script>