<div>
  <div class="top-box1 background-img"></div>
  <div class="green"></div>
  <div class="top-box2 background-img" id="about"></div>
  <div class="green"></div>
  <div class="top-box3 background-img"></div>
  <div class="green"></div>
  <div class="top-box4 background-img"></div>
  <div class="green"></div>
  <div class="top-box5 background-img"></div>
  <div class="green"></div>
  <div class="top-box6 background-img"></div>

  <span id="back-btn">
    <a href="#">
      <i class="fas fa-chevron-circle-up fa-3x"></i>
    </a>
  </span>

</div>






