/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


//ログインページ
p {
  color: #737373;
}

.login-signin_box {
  margin: 4%;
  padding: 8% 15%;
  border-radius: 6px;
  background-color: white;
  h2 {
    color: #92bbc4;
    font-weight: 800;
  }
  form {
    text-align: center;
    color: #545454;
    .field {
      margin: 5%;
      label[for="user_name"] {
        width: 100%;
        text-align: start;
      }
      input#user_name {
        width: 100%;
      }
      label[for="user_password"] {
        width: 100%;
        text-align: start;
      }
      input#user_password {
        width: 100%;
      }
      label[for="user_password_confirmation"] {
        width: 100%;
        text-align: start;
      }
      input#user_password_confirmation {
        width: 100%;
      }
      label[for="user_email"] {
        width: 100%;
        text-align: start;
      }
      input#user_email {
        width: 100%;
      }
    }
    .actions {
      text-align: center;
      margin: 5%;
      input {
        border: none;
        width: 80%;
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 0.5em 1em;
        text-decoration: none;
        border-left: solid 8px #92bbc4;
        border-right: solid 8px #92bbc4;
        color: #FFF;
        background: #b8dce4;
        transition: .4s;

      }
      input:hover {
        background: #92bbc4;
        color: #FFF;
      }


    }
  }
  .devise-link {
    height: 30px;
    margin: 15% auto;
    a {
      margin: 10px 0;
      padding: 2% 0;
      color: #545454;
    }
  }
  .devise-link-sign {
    height: 30px;
    margin: 15% auto;
    a {
      margin: 10px 0;
      padding: 2% 0;
      color: #545454;
    }
  }
}


// サイドバー
.sidebar {
  background-color: #d9d9d9;
  padding: 0;
  .sidebar-content {

    .profile-box {
      width: 80%;
      margin: 2em auto;
      padding: 0.2em 0.5em;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0px 0px 0px 10px white;
      border: solid 2px #d6ebff;
      padding: 0.2em 0.5em;
      display: flex;
      flex-wrap: wrap;
      .profile-icon {
        .attachment {
          width: 60%;
        }
      }
      .my-name {
        width: 80%;
        margin: 10px 0;
        span {
          display: inline-block;
          margin-right: 5px;
        }
      }
      .my-introduction {
        width:  100%;
        margin: 0 0 15px 0;
        span {
          display: inline-block;
          margin: 5px 0;
        }
      }
    }
    .routines_index {
      width: 90%;
      padding: 5% 3% 5% 3%;
      margin: 0 auto;
      h5 {
        margin: 0;
        i {
          color: #6791d2;
        }
      }
      .routine_list {
        margin: 1% 0;
        height: 250px;
        overflow: scroll;
      }
    }
    .new-routine {
      text-align: right;
    }
  }
}


// フラッシュメッセージ
.alert {
  margin: 0;
}

// フッター
// footer {
//   background-color: white;
// }

// ヘッダー
header {
  background-color: #92bbc4;
}