/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


table.customer_info {
  width: 100%;
  thead {
    th:first-child {
      width: 60%;
    }
    th:last-child {
      width: 35%;
    }
  }
}

label.customer_name {
  display: inline-block;
  padding-right: 14px;
}


// タスクマトリクスのスタイル
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;

  .task-matrix {
    .matrix-box {
      width: 400px;
      height: 360px;
      padding: 0;
      border: 5px solid white;
      background-color: gray;
      .matrix-title{
        width: 100%;
        height: 30px;
        background-color: black;
        p {
          margin: 0;
          text-align: center;
          line-height: 30px;
          color: white;
        }
      }
      .item-container {
        overflow: scroll;
        width: 100%;
        height: 80%;

        .item{
          width: 80%;
          height: 40px;
          margin: 5px auto;
          background-color: white;

          .task_title {
            color: gray;
            line-height: 1.0;
            font-size: smaller;
            padding: 5px 5px 0px 5px;
          }
          .task_date {
            color: gray;
            font-size: x-small;
            margin: 0 5px;
          }
          .task_status {
            color: gray;
            font-size: x-small;
          }
        }
      }
        .new-task-btn{
          width: 80%;
          height: 34px;
          margin: 5px auto;
        }
    }
  }
}

.form-title {
  width: 25%;
  height: 50px;
}