// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







span.fc-title {
  white-space: normal;
}

.calendar-container {
  display: flex;
  .sidebar {
    width: 25%;
  }
  #calendar {
  width: 75%;
  padding: 3% 0 0 8%;
  }
}