// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







span.fc-title {
  white-space: normal;
}

.calendar-container {
  display: flex;
  .sidebar {
    width: 25%;
  }
  #calendar {
  width: 95%;
  height: 85%;
  padding: 3% 0 3% 8%;
  }
  .modal-dialog {
    margin-top: 70px;
  }
  .modal-body {
    .form-group {
      display: flex;
      align-items: flex-start;
      .form-title {
        width: 20%;
      }
      p {
        width: 70%;
        display: inline-block; 
      } 
    }
  }
}

.fc-scroller {
  height: auto !important;
}

// calendar色分けの説明
.calendar-container {
  .col-2 {
    margin: 0 3% 3% 0;
    padding-left: 0;
  }
}

.schedule-color {
  width: 90%;
  padding: 4%;
  margin: 5% 2%;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9em;
  div {
    margin: 3%;
  }
}


