// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// TOP & About
.background-img {
  height: 47vw;
  width: 100%;
  background-image: image-url("problem_page.jpg");
  background-size: cover;
}

.top-box1 {
  height: 47vw;
  width: 100%;
  background-image: image-url("top1.jpg");
  background-size: cover;
}
.top-box2 {
  height: 47vw;
  width: 100%;
  background-image: image-url("top2.jpg");
  background-size: cover;
}
.top-box3 {
  height: 47vw;
  width: 100%;
  background-image: image-url("top3.jpg");
  background-size: cover;
}
.top-box4 {
  height: 47vw;
  width: 100%;
  background-image: image-url("top4.jpg");
  background-size: cover;
}
.top-box5 {
  height: 47vw;
  width: 100%;
  background-image: image-url("top5.jpg");
  background-size: cover;
}
.top-box6 {
  height: 47vw;
  width: 100%;
  background-image: image-url("top6.jpg");
  background-size: cover;
}

.green-1 {
  height: 2vw;
  width: 100%;
  background-color: #92bbc4;
}

.green {
  height: 6vw;
  width: 100%;
  background-color: #92bbc4;
}

.your-manager-available {
  height: 10vw;
  width: 100%;
  background-image: image-url("your_manager_available.png");
  background-size: cover;
}


// TOPへ戻るButton
#back-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  i {
    color: #737373;
  }
}

.gest-signin {
  position: fixed;
  right: 100px;
  bottom: 20px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  background-image: linear-gradient(45deg, #f69e9c 0%, #f5d4d3 100%);
  transition: .4s;
  line-height: 1.0 !important;
  a {
    text-decoration: none !important;
    color: #FFF !important;
    font-weight: bold;
    span {
      font-size: 0.6rem;
    }
  }
}
 .gest-signin:hover {
    background-image: linear-gradient(241deg, #f69e9c 0%, #f5d4d3 100%);
  }

// スライド部分
.white-back {
  height: 20vw;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  position: relative;

  .slideConts {
    width: 80vw;
    height: 80%;
    margin: 1% auto;
    padding: 1%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: flex;
    justify-content: flex-end;

  }

  .slideContsL {
    background-color: #BABABA;
    transform: translate(-1500px, 0);
  }

  .slideContsL.show {
    transform: translate(-20%, 0) !important;
  }

  .blank {
    width: 9%;
    height: 100%;
  }
  .slidein {
    background-image: image-url("slidein.png");
    width: 66%;
    height: 100%;
    margin: auto 5%;
    background-size: cover;
    margin: auto;
  }
  .slidein-button {
    width: 15%;
    height: 100%;
    margin-right: 2%;
    position: relative;

    .circle {
      width: 100%;
      height: 60%;
      background-color: #FAEFEE;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      color: #737373;
      font-size: 1.5vw;
      text-align: center;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-block-end: 0 !important;
      }
    }
    .circle:hover {
      background-color: #FFEC9F;
    }
  }
  .illust {
    width: 20%;
    height: 85%;
    bottom: 8%;
    right: 5%;
    position: absolute;
    background-image: image-url("happy_man.png");
    background-size: cover;
  }
}