// Place all the styles related to the routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// routine

.daily-tasks {
  h2 {
    background: #92bbc4;
    color: white;
    width: fit-content;
    padding: 4px 4%;
  }
  h5 {
    color: #545454;
  }
  a {
    color: #545454;
  }
}


.routine_list {
  margin: 20px 0;
  background-color: white;
  span {
    margin: 0 30px 0 0;
  }
}

// ドッグイヤー風
.my-daily-task {
  position: relative;
	padding: .3em;
	margin: 2% 0 0 1% !important;
}
.my-daily-task::after {
  position: absolute;
	top: 0;
	right: 0;
	content: '';
	width: 0;
	border-width: 0 25px 25px 0;
	border-style: solid;
	border-color: #f9f7f5 #f9f7f5 #fff #fff !important;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, .1);
}

