// Place all the styles related to the routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// routine
.routine_list {
  margin: 20px 0;
  background-color: white;
  span {
    margin: 0 30px 0 0;
  }
}

