// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// タスク一覧ページ
.task-index {
  .col-9 {
    padding-left: 0;
  }
  .task-matrix-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 3%;
    marigin-right: 3%;


    .task-matrix {
      width: 92%;
      // height: 100%;
      display: flex;
      justify-content: flex-start;
      margin: 1.5% 2% 1% 1%;
      padding-left: 1%;
      padding-bottom: 2%;
      position: relative;
      border-left: 5px solid #737373;
      border-bottom: 5px solid #737373;

      .matrix-box {
        margin: 3px;
        width: 48%;
        height: 50%;
        max-height: 320px;
        min-height: 280px;
        padding: 0;
        border-radius: 8px;
        border: 5px solid white;
        background-color: white;
        box-shadow: 0px 0px 5px silver;


        .matrix-title {
          width: 100%;
          height: 26px;
          font-size: 0.9rem;

          p {
            margin: 0;
            text-align: center;
            line-height: 26px;
            color: white;
          }
        }
        .new-task-btn{
          width: 80%;
          height: 25px;
          margin: 5px auto;
          text-align: center;


          .btn-info {
            background-color: #f5f5f5;
            border: solid 1px white;
            color: #444444;
            font-size: 0.9em;
            cursor: pointer;
            transition-duration: 0.3s;
          }
          .btn-info:hover {
            background-color: rgba(0,0,0,0.1);
            transition-duration: 0.3s;
          }
        }
        .item-container0, .item-container1, .item-container2, .item-container3 {
          overflow-y: scroll;
          overflow-x: visible;
          width: 100%;
          height: 75%;
        }
      }
    }
  }
}

// マトリクスBOX
.matrix-box {
  .title-0 {
    background-color: #ff6680; // 重要 x 緊急
  }
  .title-1 {
    background-color: #fa8072; // 重要 x 緊急でない
  }
  // #FF99CC
  .title-2 {
    background-color: #FFC413; //重要でない x 緊急
  }

  .title-3 {
    background-color: #6791d2; //重要でない x 緊急でない
  }
}


// 矢印

.task-matrix {

  .arrow-x {
    border-left: 10px solid #737373;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -12px;
    right: -6px;
  }
  .arrow-y {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #737373;
    height: 0px;
    width: 0;
    position: absolute;
    top: -7px;
    left: -12px;
  }
  .y-important {
    color: #545454;
    position: absolute;
    top: 248px;
    left: -30px;
    height: 90px;
    width: 20px;
    line-height: 1.3rem;
    font-weight: bold;
  }
  .x-urgency {
    color: #545454;
    position: absolute;
    bottom: -30px;
    right: 50%;
    height: 20px;
    width: 90px;
    transform: translateX(50%);
    font-weight: bold;
  }
}


// タスクアイテム
.draggable-item {
  .item{
    width: 80%;
    height: 44px;
    margin: 5px auto;
    padding: 1%;
    border-radius: 6px;
    background-color: white;
    border: solid 1px silver;
    box-shadow: 1px 1px 1px 1px rgba(155,155,155,0.2);
    // display: flex;
    // justify-content: flex-start;

    .task_title {
      width: 100%;
      color: #545454;
      line-height: 1.0;
      font-size: 0.75rem;
      padding: 2px 5px 0px 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }
    .task_info {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .date_and_status {

        margin-right: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .task_date {
          color: gray;
          font-size: x-small;
          margin: 0 5px;
        }
        .task_status {
          color: gray;
          font-size: x-small;
        }
      }
      .task_comment_count {
        width: 15%;
        margin: 2px 2px 0 2px;
        color: gray;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

      }
    }
  }
  .item {
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .item:hover {
  background-color: rgba(0,0,0,0.1);
  transition-duration: 0.3s;
  }
}




// モーダルフォーム
#task-modal {
  padding-top: 56px;
  .modal-body {
    text-align: left;
    .form-title {
      width: 25%;
      height: 50px;
    }

    .comments-count {
      font-size: smaller;
      .comment {
        margin: 0;
        .comment_name, .comment_date, .comment_comment {
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

// タスク詳細
.task-show {
  .form-group {
    display: flex;
    align-items: flex-start;
    .form-title {
      width: 20%;
    }
    p {
      width: 70%;
      display: inline-block;
    }
  }
}


// ボタン
.btn-style {
  color: white;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 2px;
  background: #709fa9;
  transition: .3s;
}
.btn-style:hover {
  background: #3D585D;
  text-decoration: none;
  color: white;
}


.btn-style-delete {
  color: white;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 2px;
  background: #CA807E;
  transition: .3s;
}
.btn-style-delete:hover {
  background: #975A59;
  text-decoration: none;
  color: white;
}


@media screen and (min-height: 790px) {
  .matrix-box {
    max-height: none !important;
  }
}

@media screen and (max-width: 790px) {
  .matrix-box {
    max-height: none !important;
  }
}

@media screen and (max-width: 470px) {
  .matrix-box {
    width: 47% !important;
  }
}