// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// マイページ

.mypage {
  margin: 3% 20%;
  padding: 5%;
  border-radius: 6px;
  border: 1px solid silver;
  background-color: white;
  h2 {
    width: 100%;
  }
  .profile-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .profile-detail {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .profile-icon {
        width: 30%;
        margin-right: 3%;
        .attachment {
          max-width: 150px;
          max-height: 150px;
          width: 100%;
        }
      }

      .profile-basis {
        width: 65%;
      }
    }
    .profile-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .my-group-count {
        margin: 3% 0;
        div {
          margin-right: 3%;
        }
        a {
          display: inline-block;
        }
      }
    }
  }
}

#user_profile_image {
  display: none;
}
.profile-edit {
  div {
    margin: 5% 0;
    p {
      margin: 0;
    }
    input {
      width: 70%;
      margin: 0;
    }
  }
}
